{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<div id="wrapper">
	<div id="page-wrapper">
        <div class="container-fluid">
	<div class="row">
		<div class="col col-sm-4"></div>
		<div class="col col-sm-4">
			<h3>Change Password</h3>
			<form method="post" class="form">
				{% csrf_token %}
				{% bootstrap_form form %}
				{% buttons %}
					<button type="submit" class="btn btn-primary">
						Save changes
					</button>
				{% endbuttons %}
			</form>
		</div>
		<div class="col col-sm-4"></div>
	</div>
</div>
  	</div>
</div>
{% endblock %}