{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
  {% if validlink %}
  	<div class="row">
		<div class="col col-sm-4"></div>
		<div class="col col-sm-4">
			<h3>Change password</h3>
			<form method="post" class="form">
				{% csrf_token %}
				{% bootstrap_form form %}
				{% buttons %}
					<button type="submit" class="btn btn-primary">
						Change Password
					</button>
				{% endbuttons %}
			</form>
		</div>
		<div class="col col-sm-4"></div>
	</div>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}