<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}AutoGrader{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% load bootstrap3 %}

  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css" rel="stylesheet" integrity="sha384-awusxf8AUojygHf2+joICySzB780jVvQaVCAt1clU3QsyAitLGul28Qxb2r1e5g+" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

  {% bootstrap_javascript %}

  <style>
    .center {
      text-align: center;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">FAST AutoGrader</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'home' %}">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">

      {% if user.is_authenticated %}
	    <li><a href="{% url 'change_password' %}">Change Password</a></li>
        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      {% else %}
        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      {% endif %}

    </ul>
  </div>
</nav>

<div class="container">
  {% if messages %}
  <div class="row">
    <div class="col-sm-12 center">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ message }}
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  {% if user.is_authenticated and not user.is_active %}
  <div class="alert alert-danger center">
      Kindly verify your email address ({{user.email}}) &dash;
      <a href="{% url 'resend_signup_email' %}">Resend Email</a> or
      <a href="#" onclick="$('#changeEmail').fadeToggle('fast');">Change Email</a>

  </div>
  <div id="changeEmail" style="display: none; ">
    <form class="form-inline center" method="post" action="{% url 'change_email'%}">
      {% csrf_token %}
      <div class="form-group">
        <label class="sr-only" for="email">Enter New Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="{{ user.email }}">
      </div>
      &nbsp;<button type="submit" class="btn btn-primary">Change Email</button>
    </form>
    <hr />
  </div>
  {% endif %}

  {% block content %}
  {% endblock %}
</div>

<div style='debug-note width: 100%; font-size: 8pt; color: #ccc; text-align: center'>
    Server time: {% now 'r' %}
</div>
</body>
</html>
