{% extends 'base.html' %}
{% load autograder_extras %}
{% load bootstrap3 %}

{% block content %}
	<div class="row">
		<h2>Welcome, {{ course.name }} </h2>
		<hr />
	</div>
	<div class="row">
		<div class="col col-sm-3">
			<h3>Assignments</h3>
	 		{% if assignments %}
	 			<div class="list-group">
	 			{% for assignment in assignments %}
		 			<a class="list-group-item {% if assignment_id == assignment.id %} active {% endif %}" href="{% url 'home' %}course/{{ course.id }}/{{ assignment.id }}">{{ assignment.title }}</a></li>
	 			{% endfor %}
	 			</div>
	 		{% else %}
				<p>No registered course available.</p>
			{% endif %}
		</div>
		<div class="col col-sm-9 {% if selected_assignment %} well {% endif %}">
			{% if selected_assignment %}
	 			<div class="row">
	 				<div class="col col-sm-6">
		 				<h3>{{ selected_assignment.title }}</b></h3>
					</div>
	 				<div class="col col-sm-6" style="text-align: right; padding-top: 5px;">
	 					<p>
	 						<small><b>Open Date: </b>{{ selected_assignment.open_date }}</small><br />
	 						<small><b>Due Date: </b>{{ corrected_due_date }}</small><br />
	 					</p>
	 				</div>
	 			</div>
				<hr />


	 			<big><p>{{ selected_assignment.description }}</p></big>
                <p>Files you need to modify : <strong>{{ modifiable_filename }}</strong></p>
	 			<hr />

                <div class="row">
                    <div class="col col-sm-12">
                        <div class='alert alert-{%if assignment_expired %}danger{% else %}success{% endif %}'>{{time_left}}</div>
                    </div>
                </div>

	 			<div class="row">
                    <div class="col-sm-6" style="text-align: left">
	 					<a target="_blank" href="{% url 'home' %}download/?aid={{ selected_assignment.id }}&action=zip_file" class="btn btn-success btn-lg">Download Assignment Archive</a>
	 				</div>
	 				<div class="col-sm-6" style="text-align: right">
		 				<h4>API Login Credentials</h4>
	 					<!-- table class="table">
	 						<tr>
	 							<td>Assignment File</td>
	 							<td><a class="btn btn-default btn-sm" target="_blank" href="{% url 'home' %}download/?aid={{ selected_assignment.id }}&action=assignment_file">DOWNLOAD</a></td>
	 						</tr>
	 						<tr>
	 							<td>Student Test Set</td>
	 							<td><a class="btn btn-default btn-sm" target="_blank" href="{% url 'home' %}download/?aid={{ selected_assignment.id }}&action=student_test">DOWNLOAD</a></td>
	 						</tr>
	 						<tr>
	 							<td>Config File</td>
	 							<td><a class="btn btn-default btn-sm"  target="_blank" href="{% url 'home' %}download/?aid={{ selected_assignment.id }}&action=config_file">DOWNLOAD</a></td>
	 						</tr>
	 					</table -->
            			<b><i>Email:</i></b> {{ user.email }}<br />
            			<b><i>Submission Password:</i></b> {{ user.student.submission_pass }}
	 				</div>
	 				<!-- div class="col-sm-4">
						<h4>Other Files</h4>
	 					{% if other_files %}
	 					<table class="table">
	 						{% for other_file in other_files %}
	 						<tr>
	 							<td>{{ other_file.file.name|basename }}</td>
	 							<td><a class="btn btn-default btn-sm" target="_blank" href="{% url 'home' %}download/?ofid={{ other_file.id }}&action=other_file">DOWNLOAD</a></td>
	 						</tr>
	 						{% endfor %}
	 					</table>
	 					{% endif %}

	 				</div-->

	 			</div>
	 			<hr />
                <div class='row'>
                    <div class="col-sm-8" style="text-align: left">
                        <h4>Submission Instructions</h4>
                        <ol>
                            <li>Download the archive and extract it in any folder.</li>
                            <li>Complete the tasks required.</li>
                            <li>Run local tests using: <code>python run.py local</code></li>
                            <li>After local tests are successful, submit using: <code>python run.py remote</code></li>
                            <li>Enter the login credentials shown on this page when prompted by the script.</li>
                            <li>After submission, ensure your results are showing on this page.</li>
                        </ol>
                        <strong>Note:</strong> Do not modify files other than those mentioned in the assignment description.
                    </div>
                </div>
                <hr />
	 			<h3>Submission History</h3>
	 			{% if submission_history %}
	 				<table class="table table-striped">
	 					<tr>
	 						<th>Sr.</t>
	 						<th>Submission Date</th>
	 						<th>Passed</th>
	 						<th>Failed</th>
	 						<th>Score</th>
	 						<th>Log</th>
	 					</tr>
	 					{% for submission in submission_history %}
	 					<tr>
	 						<td>{{ forloop.counter }}</td>
	 						<td>{{ submission.publish_date }}</td>
	 						<td>{{ submission.passed }}</td>
	 						<td>{{ submission.failed }}</td>
	 						<td>{{ submission.get_score }}/{{ submission.assignment.total_points }}</td>
	 						<td><a href="" data-toggle="modal" data-target="#logModal" data-load-url="{% url 'home' %}download/?sid={{ submission.id }}&action=log_file&raw=1" class="btn btn-info btn-sm">VIEW</a></td>
	 					</tr>
	 					{% endfor %}
	 				</table>
	 			{% else %}
	 				No submission available for this assignment.
 				{% endif %}
	 		{% else %}
				<div class="alert alert-info">No selected assignment.</div>
			{% endif %}
		</div>
	</div>

	<script>
	$(document).ready(function(){
		$('#logModal').on('show.bs.modal', function (e) {
			var loadurl = $(e.relatedTarget).data('load-url');
			$(this).find('.modal-log-content').html("").load(loadurl);
		});
	});
	</script>
	<div id="logModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg">

			<!-- Modal content-->
			<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Submission Log</h4>
			</div>
			<div class="modal-body">
				<pre class="modal-log-content">
				</pre>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
			</div>

		</div>
	</div>

{% endblock %}
