{% extends 'base.html' %}
{% load bootstrap3 %} 

{% block content %}
	<div class="row">
		<h2>Welcome, {{ course.name }} </h2>
		<hr />
	</div>
	<div class="row">
		<div class="col col-sm-3">
			<h3>Assignments</h3>
	 		{% if assignments %}
	 			<div class="list-group">
	 			{% for assignment in assignments %}
		 			<a class="list-group-item {% if assignment_id == assignment.id %} active {% endif %}" href="{% url 'home' %}course/{{ course.id }}/{{ assignment.id }}">{{ assignment.title }}</a></li>
	 			{% endfor %}
	 			</div>
	 		{% else %}
				<p>No registered course available.</p>
			{% endif %}
		</div>
		<div class="col col-sm-9 {% if selected_assignment %} well {% endif %}">
			{% if selected_assignment %}
	 			<div class="row">
	 				<div class="col col-sm-6">
		 				<h3>{{ selected_assignment.title }}</b></h3>
					</div>
	 				<div class="col col-sm-6" style="text-align: right; padding-top: 5px;">
	 					<p>
	 						<i><small><b>Open Date: </b>{{ selected_assignment.open_date }}</small></i><br />
	 						<i><small><b>Due Date: </b>{{ selected_assignment.due_date }}</small></i>
	 					</p>
	 				</div>
	 			</div>
				<hr />
	 			<p>{{ selected_assignment.description }}</p>
	 			<hr />
	 			<h4>Assignment Files</h4>
	 			<div class="row">
	 				<div class="col-sm-6">
	 					<table class="table">
	 						<tr>
	 							<td>Assignment File</td>
	 							<td><a class="btn btn-default btn-sm" target="_blank" href="{% url 'home' %}download/?aid={{ selected_assignment.id }}&action=assignment_file">DOWNLOAD</a></td>
	 						</tr>
	 						<tr>
	 							<td>Student Test Set</td>
	 							<td><a class="btn btn-default btn-sm" target="_blank" href="{% url 'home' %}download/?aid={{ selected_assignment.id }}&action=student_test">DOWNLOAD</a></td>
	 						</tr>
	 						<tr>
	 							<td>Config File</td>
	 							<td><a class="btn btn-default btn-sm"  target="_blank" href="{% url 'home' %}download/?aid={{ selected_assignment.id }}&action=config_file">DOWNLOAD</a></td>
	 						</tr>
	 					</table>
	 				</div>
	 				<div class="col-sm-6" style="text-align: right;">
	 					<a target="_blank" href="{% url 'home' %}download/?aid={{ selected_assignment.id }}&action=zip_file" class="btn btn-success btn-lg">Download as ZIP</a>
	 				</div>
	 			</div>
	 			<hr />
	 			<h4>Submission History</h4>
	 			{% if submission_history %}
	 				<table class="table">
	 					<tr>
	 						<th>Sr.</t>
	 						<th>Submission Date</th>
	 						<th>Passed</th>
	 						<th>Failed</th>
	 						<th>Percent</th>
	 						<th>Log</th>
	 					</tr>
	 					{% for submission in submission_history %}
	 					<tr>
	 						<td>{{ forloop.counter }}</td>
	 						<td>{{ submission.publish_date }}</td>
	 						<td>{{ submission.passed }}</td>
	 						<td>{{ submission.failed }}</td>
	 						<td>{{ submission.percent }}</td>
	 						<td><a href="" data-toggle="modal" data-target="#logModal" data-load-url="{% url 'home' %}download/?sid={{ submission.id }}&raw=1" class="btn btn-info btn-sm">VIEW</a></td>
	 					</tr>
	 					{% endfor %}
	 				</table>
	 			{% else %}
	 				No submission available for this assignment.
 				{% endif %}
	 		{% else %}
				<div class="alert alert-info">No selected assignment.</div>
			{% endif %}
		</div>
	</div>

	<script>	
	$(document).ready(function(){
		$('#logModal').on('show.bs.modal', function (e) {
			var loadurl = $(e.relatedTarget).data('load-url');
			$(this).find('.modal-log-content').html("").load(loadurl);
		});
	});
	</script>
	<div id="logModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg">

			<!-- Modal content-->
			<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Submission Log</h4>
			</div>
			<div class="modal-body">
				<pre class="modal-log-content">
				</pre>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
			</div>

		</div>
	</div>

{% endblock %}