{% extends 'base.html' %}
{% load bootstrap3 %} 

{% block content %}
  <h2>Log in to AutoGrader</h2>
  {% if form.errors %}
    {% bootstrap_messages %}
  {% endif %}

  <form method="post">
    {% csrf_token %}

    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">
        Login
      </button>
    {% endbuttons %}
  </form>
  <p class="signup__signin">Forgot your password? <a href="{% url 'password_reset' %}">Reset password</a></p>
{% endblock %}